<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647993892393-01ate3lg8nf8tr9lvrib5ttrgks4hact.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647993892393-01ate3lg8nf8tr9lvrib5ttrgks4hact</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8I-uMdqYfKp5p2-lMMnM8iw5hr5JZrI</string>
	<key>GCM_SENDER_ID</key>
	<string>647993892393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>con.jose.upstate-app</string>
	<key>PROJECT_ID</key>
	<string>upstateapp</string>
	<key>STORAGE_BUCKET</key>
	<string>upstateapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647993892393:ios:7bf0fd6a84f1222b154638</string>
	<key>DATABASE_URL</key>
	<string>https://upstateapp.firebaseio.com</string>
</dict>
</plist>